<br>
<h4>Welcome to</h4>

<h1>VacaTime.info</h1>

<div class="">
  <a href="https://vacatime.herokuapp.com/articles"><img src="http://cheaptripblog.com/wp-content/uploads/2016/06/trip-map-small.png" class="country-image" alt="world-map on tripadvisor" target="_blank"/></a>
  <p>
    <i></i>
  </p>
  <h2>travel blog</h2>

<br>
  <p>
    Visit my travel profile on <a href="http://www.tripadvisor.com/TravelMapHome-a_uid.AF41B10DAC53037630B2337CB50A022D" target="_blank">tripadvisor</a>.
  </p>
</div>
<!-- <p>
  The time is now:<br>
  <%= Time.now %>
</p> -->
<br>
