<br>
<h4>Welcome to</h4>

<h1>VacaTime.info</h1>

<div class="container">
  <a href="https://vacatime.herokuapp.com/articles"><img src="http://cheaptripblog.com/wp-content/uploads/2016/06/trip-map-small.png" class="country-image" alt="world-map on tripadvisor" target="_blank"/></a>
</div>

<div class="container">
  <div id="cover-left">
    <h2>travel blog</h2>
    <p class="handwriting">pictures, tips and tricks about the most amazing places in the world</p>
  </div>
  <div id="cover-right">
    <img id="cow" src="http://i.imgur.com/5kO0Tyd.png" title="source: imgur.com" />
  </div>
</div>

<br><br>
<i><p>
  Visit my travel profile on <a href="http://www.tripadvisor.com/TravelMapHome-a_uid.AF41B10DAC53037630B2337CB50A022D" target="_blank">tripadvisor</a> to see all my pins on the map
</p></i>
