<p id="notice"><%= notice %></p>

<h1>Continents</h1>
<% @continents.each do |continent| %>
<ul class="shadow-link">
  <li><%= link_to continent.name, continent_path(continent.id) %></li>
</ul>
<% end %>

<br>

<!-- <%= link_to 'New Continent', new_continent_path %> -->
