<p id="notice"><%= notice %></p>

<h1>Countries</h1>

  <tbody>
    <% @countries.each do |country| %>
    <ul>
      <li class="shadow-link"><%= link_to country.name, country_path(country.id) %>
        <br>
        <%link_to 'Edit', edit_country_path(country) %>

      </li>
    </ul>
    <% end %>

<!-- <%= link_to 'New Country', new_country_path %> -->
