@import url(https://fonts.googleapis.com/css?family=Tangerine|Chango&effect=3d-float);

html {
  background: black;
  text-align: center;
  background-image: url("https://orbitka.files.wordpress.com/2014/03/02-twelve-apostles.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size:cover;

}

body {
  background: rgba(250,250,250,0.6);
  max-width: 800px;
  margin: auto;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.60);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.60);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.60);
}

header {
  background: darkblue;
  width: 100%;
  color: gold;
}

h1 {
  /*text-shadow: 4px 4px 4px #aaa;*/
  /*font-family: 'Chango', cursive;*/
  list-style-type: none;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
  font: 3em Chango, Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

.handwriting {
  font-family: 'Tangerine', serif;
  font-size: 2em;
  text-shadow: 4px 4px 4px #aaa;
}


a {
  text-decoration: none;
}

header a {
  color: gold;
}

/*td a {*/
.shadow-link {
  list-style-type: none;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
  font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

.container {
  width: 100%;
  display: inline-block;
  /*display: inline-flex;*/
}

#cover-left {
  float: left;
  width: 45%;
  padding-top:30px;
  padding-left: 5%;
  line-height: normal;
}

#cover-right {
  float: right;
  width: 50%;
  position: relative;
  height: 16em;
}

#cow {
  position: absolute;
  bottom: -8px;
  right: 1%;
  width: 100%;
}

.country-image {
  width: 80%;
  border-right: outset 20px white;
  border-bottom: outset 30px white;
  border-left: outset 20px white;
  border-top: outset 15px white;
  box-shadow: 1px 2px 3px black, 1px 1px 3em gray, 1px 1px 0.8em blue;
}

.miniature {
  width: 200px;
  border: 1px silver solid;
  box-shadow: 1px 2px 3px black, 1px 1px 3em gray, 1px 1px 0.8em blue;
}

footer {
  background: darkblue;
  width: 100%;
  color: gold;
  padding: 1em 0 1em 0;
}
