// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background: lightblue;
  text-align: center;
}

body {
  background: ivory;
  max-width: 800px;
  margin: auto;
}

header {
  background: darkblue;
  width: 100%;
}
